* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

html, body {
  display: block;
  font-size: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  z-index: 0;

  margin: auto;
  max-width: 100rem;
  min-height: 40rem;

  padding: 0;

  border-style: solid;
  /* border-color: red; */
  background-color: rgba(6, 17, 59, 0.1);


  font-family: "League Spartan", Helvetica, Arial, sans-serif;
}

a:visited, a:link {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: calc(1.3rem + 3.2vw);
  font-weight: 600, 500;
}

h2 {
  font-size: calc(1.2rem + 2.5vw);
  font-weight: 400;
}

h3 {
  font-size: calc(1.1rem + 2.0vw);
  font-weight: 300;
}

h4 {
  font-size: calc(1.0rem + 1.5vw);
  font-weight: 300;
}

p {
  font-size: calc(1.0rem + 0.5vw);
  font-weight: 300;
}
