.nav {
  display: flex;
  justify-content: center;

  min-height: 5rem;
  width: 100%;

  background-color: rgba(6, 17, 59, 1);

}

.nav div {
  min-width: 90%;
  max-height: 10rem;
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(2rem + 0.1vw);

  text-decoration: none;
}

.nav li {
  list-style: none;
  text-decoration: none;
  font-size: calc(1.0rem + 0.5vw);
  font-weight: 300;
}